body {
    overflow: hidden; /* はみ出した部分を隠す */
    user-select: none; /* 要素の選択を無効にする*/
}

img {
    -webkit-user-drag: none; /* 画像の要素のドラッグを無効にする */
    position: absolute; /* 画像の配置を絶対位置で設定 */
    display: none; /* 画像を非表示 */
}

#dotty {
    width: 150px; /* ドッティの画像の横幅を設定 */
    height: 150px; /* ドッティの画像の縦幅を設定 */
}

#fruit {
    width: 50px; /* フルーツの画像の横幅を設定 */
    height: 50px; /* フルーツの画像の縦幅を設定 */
}

/* h1 {
    display: inline-block;
}

#gamepoint span {
    padding: 8px;
    margin: 10px;
    border: 3px solid #9C6500;
    position: relative;
    top: -0.4em;
} */