body {
    overflow: hidden;
    user-select: none;
    /* cursor: url('../img/cur/bone.cur'), default; */
}

h1 {
    display: inline-block;
}

img {
    -webkit-user-drag: none;
}

/* #gamebody {
    height: 80vh;
} */

#gamepoint span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 3px solid #9C6500;
    position: relative;
    top: -0.4em;
}